.manage-users-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    background-image: url('https://cdn.pixabay.com/photo/2024/06/14/11/07/shadows-8829575_640.jpg');
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    color: white;
  }
  
  .title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  .custom-table th,
  .custom-table td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .custom-table th {
    background-color: #4CAF50;
    color: white;
  }
  
  .add-button,
  .edit-button,
  .delete-button {
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .add-button {
    background-color: #4CAF50;
    color: white;
    margin-bottom: 20px;
    border: none;
  }
  
  .edit-button {
    background-color: orange;
    color: white;
    border: none;
  }
  
  .delete-button {
    background-color: red;
    color: white;
    border: none;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .modal-label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
    display: block;
  }
  
  .input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .save-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .cancel-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  