
.login-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Asegura que el fondo cubra todo el ancho de la ventana */
    height: 100vh; /* Asegura que el fondo cubra todo el alto de la ventana */
    background-image: url('https://cdn.pixabay.com/photo/2024/06/14/11/07/shadows-8829575_640.jpg');
    background-size: cover;
    background-position: center;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3000;
    color: #fff;
  }
  
  .login-content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 90%; /* Ajusta el ancho de la caja de contenido */
    max-width: 400px; /* Establece un ancho máximo */
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
  }
  
  .login-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
  }
  
  input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
  }
  
  button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #131212;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #fff;
    color: #131212;
  }
  
  @media (max-width: 768px) {
    .login-container {
      padding: 20px;
    }
  }
  