.survey-container {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #f5f5ec;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 2000;
}

.survey-container.visible {
  transform: translateX(0);
}

/* Contenedor para los botones en la parte superior */
.top-buttons {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

/* Botón de cerrar en la parte superior derecha */
.cerrar-button {
  background: rgb(112, 112, 90);
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #b96d6d;
  padding: 14px;
  border-radius: 5px;
}

.cerrar-button:hover {
  color: #666;
}

/* Botón para enviar el formulario */
.submit-button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #4a4743;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #3b3835;
}

/* Nuevo botón de cierre que también abre ManageQuestions */
.close-button-bottom {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-button-bottom:hover {
  background-color: #d32f2f;
}

.survey-container h1, .survey-container p, .survey-container label {
  color: #4a4743;
}

.survey-container form {
  display: flex;
  flex-direction: column;
}

.survey-container input, .survey-container select, .survey-container textarea {
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1999;
  display: none;
}

.overlay.visible {
  display: block;
}
