.footer-container-pie {
  background-color: #2C2F33;
  color: #ffffff;
  padding: 1px 30px; /* Ajusta el padding para más espacio */
  font-family: 'Arial', sans-serif;
  font-size: 16px; /* Aumenta el tamaño de la fuente */

  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1200;
  box-sizing: border-box;
}

.footer-content-pie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-section-pie {
  flex: 1;
  padding: 5px;
}

.footer-left-pie {
  text-align: left;
}

.footer-right-pie {
  text-align: right;
}

.footer-logo-pie {
  flex: 0 1 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.footer-logo-pie img {
  max-height: 100px;
  width: auto;
  filter: brightness(0.8) saturate(0.7);
  opacity: 0.9;
}

@media (max-width: 768px) {
  .footer-container-pie {
    position: static; /* Elimina el posicionamiento fijo */
    padding: 5px 15px;
    font-size: 12px;
  }

  .footer-content-pie {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .footer-left-pie, .footer-right-pie {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
  }

  .footer-logo-pie {
    margin: 10px 0;
    width: 100%;
  }

  .footer-logo-pie img {
    max-height: 120px; /* Aumenta el tamaño máximo del logo */
  }
}
