/* src/Styles/Buttons.css */
.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .add {
    background-color: #4CAF50;
    color: white;
  }
  
  .edit {
    background-color: #FF9800;
    color: white;
  }
  
  .delete {
    background-color: #F44336;
    color: white;
  }
  
  .button:hover {
    opacity: 0.8;
  }
  